.header {
    background-color: #000000;
    margin: auto;
    padding: 45px 0;
    max-width: 880px;
    border-bottom: 1px solid #545454;
}

@media (max-width: 934px) {
    .header {
        padding: 28px 0 31.6px;
    }
}