.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 934px) {
    .profile__info {
        flex-direction: column;
    }
}